body {
    font-family: 'Merriweather', sans-serif;
    background-image: url("image.jpeg");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-top: 50px;
}

.container {
    max-width: 600px;
    margin-left: 50%;
    background-color: #D8D6E7;
    border-radius: 15px;
    padding: 25px;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(216, 14, 189, 0.938);
}

h1 {
    color: #1c023de7;
    font-family: 'Algerian',sans-serif;
}

.inputs {
    margin-top: 20px;
}

input[type="text"] {
    width: 75%;
    padding: 20px;
    border: 2px solid #9e0303;
    border-radius: 25px;
    font-size: 20px;
   
}

button {
    background-color: #867e8c;
    color: white;
    border: 1px solid #11125E;
    border-radius: 15px;
    padding: 15px 25px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #de330d;
}

li {
    background-color: #c2b9b9;
    border: 1px solid #340909;
    margin-top: 10px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
}

.close {
    color: #db2424;
    font-size: 25px;
    cursor: pointer;
}

.close:hover {
    color: #3a057f;
}


